        body{
            line-height: 30px;
            text-align: center;
            background: #dddddd;
            margin: auto;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 17px;
            }
            * {
                box-sizing: border-box;
            }

        /* Top navigation */

        .topnav {
            background-color: #ffffff;    
            color: #777777;
            border-bottom: 2px solid #cccccc;    
        }

        .topnav a {

            text-decoration: none;
            font-size: 17px;
            color: #999999;
            margin: 0px 10px 0px 20px;    }

        .topnav a.active{

            background-color: #4aaaa5;
            border-radius:.25rem;
            color: #ffffff;
        }
        .nav-link{
            width: 100%;
        }
        #name {
            
            font-size: 30px;    
            background-color: #4aaaa5;
            color: #ffffff;

        }
        /*Main content*/
        .main_content{
            background: white;
            width: 960px;
            margin-left: 18.5%;
            margin-top:10px;
            margin-bottom:80px;
            text-align:initial;
            padding: 10px;
        }
        h2{
        
            text-align: left;
            color:  #4aaaa5;
            margin: 20px;
            border-bottom: 2px solid #dddddd;
            font-weight: bolder;
        }
        p{
            margin: 10px;
        
        }
        #bio-image {          
            margin: 10px; 
            padding: 10px;
        }

        .footer{
            
            background: #666666;
            border-top: 2px solid #4aaaa5;
            position: fixed; 
            left: 0 ; right: 0; bottom: 0;        
        }

        .column{
            color: #999999;
        }

        #submit{
            background-color: #4aaaa5;
            color: white;
            padding: 12px 20px;
            border: none;
            cursor: pointer;
        }
        .portfolio-text{
            
            background: #4aaaa5;
            color: white;
            position: absolute;
            width: 100%;
            top: 70%;
            left: -3.7%;
            border-radius:.25rem;

        }

        .portfolio-image {
        
            padding: 10px;
            text-align: center; 
            margin: 10px 0px 0px 30px;
            width: 18rem;
           
           
        }        

        #submit:hover,.portfolio-text:hover{
            background:#0deccb;
            color: white;
            font-weight: bolder;
            
        }

        .frm-cntrl{
            width: 97%;
            margin-left: 10px;
        }
        /*Animation*/
        .topnav {
            
            -webkit-animation-name: navColor; /* Safari 4.0 - 8.0 */
            -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
            animation-name: navColor;
            animation-duration: 3s;
        }
        .topnav a{
            -webkit-animation-name: navText; /* Safari 4.0 - 8.0 */
            -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
            animation-name: navText;
            animation-duration: 3s;

        }
        @keyframes navColor {

            from {background-color:#ffffff;}
            to {background-color:#4aaaa5;}
        }
        @keyframes navText {

            from {color: #999999;}
            to {color:white;}
        }
        .animationImage{
            
            -webkit-transition: -webkit-transform .8s ease-in-out;
            transition: transform .8s ease-in-out;
        }
        .animationImage:hover{
            
           -webkit-transform: rotate(360deg);
         transform: rotate(360deg);
        
         
        }
        
.row{
    margin-left: 0px;
    margin-right: 0px;
}
.footer-text a{
    color: white;
    text-decoration: none;
} /*
These rules take effect when the browser's width
is  980px ,768px and 640px
*/

@media screen and (max-width: 980px) {

    /* The main_content's width will be 600px */
    .main_content {width: 600px;}
    .portfolio-image{width: 290px;}

}
@media screen and (max-width: 768px) {

    /* The main_content's width will be 540px */
    .main_content {width: 540px;}
    .portfolio-image{width: 251px;}
    
    
}
@media screen and (max-width: 640px) {

    /* The main_content's width will be 400px */
    .main_content {width:400px; margin-left: 10px;}        
    .bigNav a{float: unset;margin: 0px;width:100%;background: none;}
    #bio-image {float:unset; width:95%;}
    .bigNav{background: #4aaaa5;}
    
}
a,.page-item a{
    color: #4aaaa5;
}